<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Assistant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/chat.css">
  <script src = "/static/scr.js"></script>

</head>
<body>

<!-- File Import Header -->
<div class="header">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="data-input">
      <button type="button" onclick="document.getElementById('data-input').click()">📁 Upload folder</button>
    </label>
    <input type="file" id="data-input" name="files" webkitdirectory directory multiple hidden>
  </form>

</div>

<!--Chat box-->
<div class="chat-container" id="chat-box" style="width: 100%; margin-left: 30%; height: 100vh; display: flex; flex-direction: column;"> </div>
<!-- Input -->
<div class="input-wrapper">
  <form method="post" action="/chat" class="chat-form" id="chat-form">
    <textarea name="message" id="message-input" placeholder="Type a message..." required></textarea>
    <button type="submit">Send</button>
  </form>
</div>
</body>
</html>