<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Assistant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/chat.css">
  <script src = "/static/scr.js"></script>

</head>
<body>

<!-- File Import Header -->
<div class="header">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="data-input">
      <button type="button" onclick="document.getElementById('data-input').click()">📁 Upload folder</button>
    </label>
    <input type="file" id="data-input" name="files" webkitdirectory directory multiple hidden>
  </form>
  <button id = "logout" type="button" style = "margin-left:20px;" onclick="document.getElementById('logout').click()">Log out</button>
</div>

<!--Chat box-->
<div class="chat-container" id="chat-box"> </div>
<!-- Input -->
<div class="input-wrapper">
  <form method="post" action="/chat" class="chat-form" id="chat-form">
    <textarea name="message" id="message-input" placeholder="Type a message..." required></textarea>
    <button type="submit">Send</button>
  </form>
</div>
</body>
</html>